<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Contacts</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
    <h2> Spring Boot Contacts</h2>
    <form method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name"/><br/>
        <label for="phone">Phone:</label>
        <input type="text" name="phone"/><br/>
        <label for="email">Email:</label>
        <input type="text" name="email"/><br/>
        <input type="submit"/>
    </form>

    <ul th:each="contact : ${contacts}">
        <li>
            <span th:text="${contact.name}">name</span>,
            <span th:text="${contact.phone}">phone</span>,
            <span th:text="${contact.email}">email</span>
        </li>
    </ul>

</body>
</html>